
* {
	box-sizing: border-box;
}
h1  {
	font-color: #FFF8DC;
	background-color: #00CED1;
	font-size: 130%;
	text-align: center;
	margin-bottom: 40px;
}
.container {
	border: 2px black;
}

div {
	background-color: #D0F5A9;
	margin: 30px;
}

p {
	width: 70px;
	height:25px;
	border:1px solid black;
	align-content: : top-left;
	background-color: #DEB887;
	font-family: Helvetica;
	font-style: bold;
	color: black;
	margin-left: 0px;
	margin-bottom: 0px;
	text-align: center;

}

section {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px white;
	align-content: center;
	border: black 20px;
}
.row{
	width: 90%;

}
/**** For Desktop ****/
@media (min-width: 992px) {
.col-lg-4, .col-lg-6, .col-lg-12 {
	float: left;
	border: 2px solid green;
}
.col_lg-4 {
	width: 16%;
}
.col_lg-6 {
	width: 32%;
}
.col-lg-12 {
	width: 48%;
}

}

/*** For tablets ***/
@media (min-width: 768px) and (max-width: 991px) {
.col-lg-4, .col-lg-6, .col-lg-12 {
	float: left;
	border: 2px solid green;
}
.col_md-4 {
	width: 40%;
}
.col_md-6 {
	width: 40%;
}
.col-md-12 {
	width: 90%;
}

}

/**** For phones ****/
@media (max-width: 767px) {
.col-lg-4, .col-lg-6, .col-lg-12 {
	float: left;
	border: 2px solid green;
}
.col_sm-4 {
	width: 90%;
}
.col_sm-6 {
	width: 90%;
}
.col-sm-12 {
	width: 90%;
}

}